<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maelook">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".app.maelookApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppCompat">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.AndyViewPagerActivity" />
        <activity android:name=".View.FlashActivity" />
        <activity android:name=".View.ManyActivity" />
        <activity android:name=".View.ContinuousActivity" />
        <activity android:name=".View.SingleActivity" />
        <activity
            android:name=".bluetooth.DeviceScanActivity"
            android:theme="@style/AppbleTheme" />
        <activity
            android:name=".bluetooth.DeviceControlActivity"
            android:theme="@style/AppbleTheme" />
        <activity android:name=".View.MyDataActivity" />

        <service
            android:name=".bluetooth.BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".View.ParameterSingleActivity" />
        <activity android:name=".View.ParameterManyActivity" />
        <activity android:name=".View.ParameterContinueActivity" />
        <activity android:name=".View.ParameterFlashActivity" />
        <activity android:name=".View.DataMapActivity" />
        <activity android:name=".View.LightScenceActivity" />
        <activity
            android:name=".View.FirstActivity"
            android:theme="@style/MyDialogStyle" />
        <activity android:name=".View.FlashloadingActivity" />
        <activity android:name=".View.ContinuousLoadingActivity" />
        <activity android:name=".View.DataComparisonActivity" />
        <activity android:name=".View.ManyLoadingActivity" />
        <activity android:name=".View.db.MyDatabaseActivity" />
        <activity android:name=".View.ModifyPasswordActivity" />
        <activity android:name=".View.NewGuideActivity" />
        <activity android:name=".View.AppHelpActivity" />
        <activity android:name=".View.ColorMixtureActivity" />
        <activity android:name=".View.DataMapParamActivity" />
        <activity android:name=".View.db.SingDataActivity" />
        <activity android:name=".View.db.ContinueDataActivity" />
        <activity android:name=".View.db.ManyDataActivity" />
        <activity android:name=".View.db.FlashDataActivity" />
    </application>

</manifest>