<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maelook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.maelookApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.dataBaseTest" />
        <activity android:name=".View.FirstActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.AndyViewPagerActivity" />
        <activity android:name=".View.testView" />
        <activity android:name=".View.FlashActivity" />
        <activity android:name=".View.ManyActivity" />
        <activity android:name=".View.SingleActivity" />
        <activity android:name=".View.ContinuousActivity" />
        <activity android:name=".Widget.maeChartFragment.testFragment.summuryPage" />
        <activity android:name=".View.dataBaseOperationActivity" />
        <activity android:name=".View.dataComparedActivity" />
        <activity android:name=".View.dataCountActivity"></activity>
    </application>

</manifest>