<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maelook">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".View.dataBaseTest"></activity>
        <activity android:name=".View.FirstActivity"></activity>
        <activity android:name=".SplashActivity"></activity>
        <activity android:name=".View.AndyViewPagerActivity"></activity>
        <activity android:name=".View.testView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.FlashActivity"></activity>
        <activity android:name=".View.ManyActivity"></activity>
        <activity android:name=".View.ContinuousActivity"></activity>
        <activity android:name=".View.TestData.MainActivity" />
        <activity android:name=".View.MeasureActivity" />
        <activity android:name=".View.DataActivity" />
        <activity android:name=".View.SceneActivity" />
        <activity android:name=".View.SettingActivity" />
        <activity android:name=".View.ExitActivity" />
        <activity android:name=".bluetooth.DeviceScanActivity" />
        <activity android:name=".bluetooth.DeviceControlActivity" />

        <service
            android:name=".bluetooth.BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".View.fogtestview">

        </activity>
    </application>

</manifest>